<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大小写转换</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
		.turn-string-title {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		.turn-string-text {
			min-height: 150px;
		}
	</style>
    </head>
    <body>
    	<div class="container">
    		<h3 class="turn-string-title">英文字母转换</h3>
    		<div class="form-group">
    			<p>请填写英文：</p>
	        	<textarea class="form-control turn-string-text" aria-label="With textarea" id="theFont"></textarea>
    		</div>
    		<div class="form-group">
    			<button type="button" class="btn btn-primary" onclick="lower()">全部小写</button>
	        	<button type="button" class="btn btn-primary" onclick="upper()">全部大写</button>
	        	<button type="button" class="btn btn-primary" onclick="firstUpper()">首字母大写</button>
    		</div>
	        <div class="form-group">
	        	<p>结果：</p>
	        	<textarea class="form-control turn-string-text" aria-label="With textarea" id="theResult"></textarea>
    		</div>
    	</div>
    	
    </body>
<script type="text/javascript">
	let theFont = document.getElementById('theFont');
	let theResult = document.getElementById('theResult');
	function lower () {
		let lowFont = theFont.value.toLowerCase();
		theResult.value = lowFont;
	}
	function upper () {
		let upperFont = theFont.value.toUpperCase();
		theResult.value = upperFont;
	}
	function firstUpper () {
		function toLower (x) {
			return x.toLowerCase()
		}
		function toUpper (x) {
			return x.slice(0, 1).toUpperCase() + x.slice(1)
		}
		let arr = theFont.value.split(' ').map(toLower).map(toUpper).join(' ');
		theResult.value = arr;
	}
</script>
</html>